.line{
    height: 7px;
    width: 150px;
    background-color: darkblue;
    margin: 8px auto;


}
body{
    text-align: center;
    background-color: crimson;

}
#app{
    background-color:lightskyblue;

}
#games{
    background-color: gold;
    height: fit-content;

}
#chatbot{
    background-color: steelblue;
}
img{
    width: 200px;
    height: auto;
    border-radius: 30px;
    border-width: 5px;
    border-style: double;

}
#myCarousel{
    width: auto;
    height: fit-content;
}
